asgiref==3.3.4
backcall==0.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
decorator==5.0.9
Django==3.2.4
et-xmlfile==1.1.0
getpass3==1.2
gTTS==2.2.2
idna==2.10
ipython==7.26.0
ipython-genutils==0.2.0
jedi==0.18.0
matplotlib-inline==0.1.2
MouseInfo==0.1.3
numpy==1.20.3
openpyxl==3.0.7
packages==0.1.0
pandas==1.2.4
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.19
PyAudio @ file:///C:/Users/yash%20choudhary/Downloads/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
PyAutoGUI==0.9.52
pycountry==20.7.3
PyGetWindow==0.0.9
Pygments==2.10.0
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
pytesseract==0.3.7
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2021.1
pywhatkit==4.7
requests==2.25.1
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
tesseract==0.1.3
traitlets==5.0.5
urllib3==1.26.4
wcwidth==0.2.5
webbot==0.34
wikipedia==1.4.0
xlrd==2.0.1
XlsxWriter==1.4.3
